/*new menu bar style*/

.nav {
  display: flex;
  position: relative;
}

.nav a {
  display: block;
  text-decoration: none;
}

.nav > li > a {
  padding: 4px 10px;
}

.nav > li {
  position: relative;
}

.nav > li > ul {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 300ms ease-in-out 500ms;
  transition: all 300ms ease-in-out;
}

.nav > li > ul > li > a {
  padding: 4px 10px;
}

.nav > li > ul > li > a:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.nav > li:hover > ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: all 300ms ease-in-out;
}

.nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav .big-nav {
  position: static;
}

.nav .big-nav > ul {
  min-height: 400px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.nav .big-nav > ul > li {
  width: 25%;
}

.nav .big-nav > ul > li > a {
  padding: 10px;
  background: rgba(255, 100, 0, 0.1);
  display: block;
}

.nav .big-nav > ul > li > ul {
  display: none;
  position: absolute;
  top: 0;
  left: 25%;
  width: 75%;
  background: rgba(100, 255, 0, 0.1);
}

.nav .big-nav > ul > li.show > ul {
  display: block;
}

.nav .big-nav > ul > li > ul > li {
  display: block;
  width: 100%;
  float: left;
}

.nav .big-nav > ul > li > ul > li.col3 {
  width: 33.3334%;
  padding: 0 10px;
}

.nav .big-nav > ul > li > ul > li > a {
  font-weight: bold;
  border-bottom: 1px solid #333;
}

.nav .big-nav > ul > li > ul > li a {
  padding: 4px 10px;
}