.new-letter { display: none; }
.user_profile { width: 100%; display: block; float: left; }
.user_left { width: 25%; max-width: 220px; height: 100vh; float: left; background: #015a7a; padding: 30px 0px; position: sticky; top: 0; }
.prfbox{text-align: center; display: inline-block; width: 100%;}
.prfbox .useimg{width: 120px; height: 120px;overflow: hidden;  margin-bottom: 10px; display: inline-block; border-radius: 50%;}  
.prfbox .useimg a{display: block;}
.prfbox .useimg img{width: 100%;}
.prfbox .usr_nam a{color: #fff;}
.prfbox .usr_typ {color: #f5f5f5; font-size: 14px; margin-bottom: 10px;}
.prfbox .urr_btn{display: block; text-align: center; margin-bottom: 15px; }
.prfbox .urr_btn a{border-radius: 3px; min-width: 120px;}
.prfbox .storebtn{ font-size: 14px; display:inline-block; vertical-align:top;  background: #222; color: #fff; padding: 9px 10px; }
.prfbox .urslogout{ font-size: 14px; display:inline-block; vertical-align:top;  background: #ff0000; color: #fff; padding: 6px 10px; }
.prfbox .urr_btn a:hover{background: #000;}

.user_right { width: calc(100% - 220px); float: left; padding: 30px; }
.breadcrumb { margin-bottom: 0px; border-radius: 0;}
.left_menu { width: 100%; display: block; text-align: left; }
.user_right .glltxtlogo{display: block; text-align: center;}
.user_right .glltxtlogo img{width: 100%; max-width: 250px; margin-bottom: 15px;}

.user_left .gllwlogo{display: block; text-align: center; padding-top: 100px;}
.user_left .gllwlogo img{width: 100%; max-width: 150px; opacity: .3 }

.left_menu li { }
.left_menu li a { padding: 8px 15px; display: block; color: #fff; }
.pmd-user-info .user_images { width: 40px; height: 40px; border-radius: 50%; overflow: hidden; }
.mr-3 { width: 100%; }
.pmd-user-info .media-body { padding-left: 10px; }
#basicSidebar ul.pmd-sidebar-nav{border-top: 1px solid #fff;}
#basicSidebar ul li a { color: #fff; }
#basicSidebar ul li { border-bottom: 1px solid #fff; }
#basicSidebar ul li:hover a{opacity: .8; background: #024c67;}
#basicSidebar ul li:last-child { border-bottom: 0px solid #fff; }


.nav>li>a:focus, .nav>li>a:hover{background: #015a7a; color: #fff; }

.form-group.row { margin-bottom: 10px; }
.pd-lr-15 { padding: 0px 15px; }
.btn-primary.centerimg { background-color: #015a7a; border: 1px solid #015a7a; padding: 8px 30px; }
.custom-file-control { border: 1px solid #015a7a; padding: 6px 25px; border-radius:0px; margin: 10px 0px; display: inline-block; }
#custmnone .user_images { max-height: 350px; overflow: hidden; }
.user_right .nav-tabs.tagul{background: #f5f5f5;}
.user_right .nav-tabs.tagul li.active a{background: #015a7a; color: #fff;}
.user_right .nav-tabs a { color: #015a7a; margin-right: 0px; border: 0px; border-radius: 0; transition: all .3s ease-in-out; }
.user_right .nav-tabs li{ margin-bottom: 0; }
.user_right .nav-tabs li >a{border-right: 1px solid #015a7a; margin: 0px 1px 0px 0px;  }
.user_right .nav-tabs li >a:hover{border-right: 1px solid #fff;}
.user_right .nav-tabs li:last-child >a{border-right: 0px solid #015a7a;}
.user_right .nav-tabs li.active{border-right: 0px;  }
.user_right .nav-tabs li.active a{border: 0px; margin-left: -1px;}
.user_right .tab-content .tab-pane{padding-top: 10px;}
.user_right .tab-content .tab-pane h5{ margin-bottom: 15px; } 
.table-striped a { color: #015a7a; }

#custmnone{padding:20px;}
.prevbox{width: 100%; display: block; float: left;  border-radius: 2px; border: 1px solid #ccc; margin-bottom: 10px;}
.prevbox img{width: 100%; float: left;}
.uplodfile{margin-top: 10px;}
.uplodfile input[type=file] {   display: block; height: 42px; border: 1px solid #ccc; line-height:38px; padding: 0px 10px;}

#messages form .btn.btn-primary{background: #015a7a; border-color: #015a7a;}
#password form .btn.btn-primary{background: #015a7a; border-color: #015a7a;}

.table_box{ width: 100%; display: block; float: left; }
.table_box h6{ margin-bottom: 15px; display: block; border-bottom:1px solid #ddd; padding-bottom: 8px; }
.dataTables_wrapper{width: 100%; display: block; float: left;}
.dataTables_length{float: left;}
.dataTables_filter{ float: right; }
.dataTables_filter input{ margin-left: 10px; }
.dataTables_length label select{ display: inline-block; line-height: 42px; height: 42px; width: 80px; }
.table.table-bordered{ float:left;  width: 100%;}
#dtBasicExample thead{width: 100%;}
#dtBasicExample thead tr th, #dtBasicExample thead tr td{ vertical-align: middle; }
#dtBasicExample thead tr th:nth-child(2){width: 100px;}
#dtBasicExample thead tr th:nth-child(6){width: 194px;}
#dtBasicExample tbody tr td a{color: #015a7a;  }



.dataTables_info{ width: 100%; display: block; float: left; text-align: center; }
.paging_simple_numbers{ width: 100%; float: left; text-align: center; margin-top: 15px; }
.paging_simple_numbers .paginate_button{min-width: 100px; border: 1px solid #015a7a; color: #015a7a; padding: 9px 15px 6px 15px; text-align: center; vertical-align: middle; display: inline-block; cursor: pointer; }
.paging_simple_numbers span{ margin: 0px 2px; text-align: center; display: inline-block; vertical-align: middle; }


body { counter-reset: Serial;           /* Set the Serial counter to 0 */ }
.serialnumber tr td:first-child:before { counter-increment: Serial;      /* Increment the Serial counter */ content: counter(Serial); /* Display the counter */ }

@media (min-width:0px) and (max-width:480px) {
	.h1-heading { font-size: 32px; line-height: 32px; }
	.user_left { width: 100%; max-width: 100%; height: auto; position: inherit; }
	.user_left .gllwlogo{padding-top: 50px;}
	.user_right { width: 100%; padding: 15px; }
	.table_box { width: 100%; overflow: scroll; }
	.uplodfile input[type=file]{width: 100%;}
	.user_right .tab-content{float: left; width: 100%;}
	.user_right .tab-content .tab-pane{width: 100%; float: left;}
	.user_right .mx-container .row{float: left; width: 100%;}
	.user_right .mx-container .row > div{ float: left; width: 100%; padding: 0px 0px; margin: 0px; }
	.nav-tabs>li>a{font-size: 14px;}
	.btn-primary.centerimg{margin-top: 15px;}
}




.form-group i {
    color: red;
}
